{% extends "base_login_news.html" %}

{% block title %}
Register user
{% endblock %}

{% block header %}
Please input user details:
{% endblock %}

{% block content %}
<div class = "record-note" style="padding: 5px 5px 5px 5px; width: 98%; margin: 2px;">
<form method="POST" name="Register">
  <table style="border: 0px solid white; width:90%; ">
    <tbody>
    {% if get_flashed_messages() %}
    {% with messages = get_flashed_messages() %}
     <tr>
       <td></td>
       <td>
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
       </td>		
     </tr>
    {% endwith %}
    {% endif %}
     <tr>
        <td>User name</td>
        <td><input type="text" name="User_name"  size="50" ></td>
     </tr>
     <tr>
        <td>Login</td>
        <td><input type="text" name="Login"  size="50" ></td>
       </tr>
     <tr>
       <td>Password</td>
       <td><input type="password" name="Password"  size="50"></td>
     </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Register user"></td>
    </tr>
    </tbody>
  </table> 
  </form>
</div>
{% endblock %}}