<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
	{% block js %}{% endblock %}
</head>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<h2 align = "center">{% block header %} {% endblock %}</h2>
<p></p>
{% block form_line %}
{% endblock%}
{% block content %}
{% endblock %}

{% block tbody_ %}{% endblock %}

<p></p>
<div align = 'center'>
	{% block links %}{% endblock %}
	
</div>
</html>