<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
	{% block js %}{% endblock %}
</head>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div align="center">
	<div style= "width: 50%;
	height:100%;
               float: center;
               background-color: #f0c975;
               border-radius:10px;
               border: 1px solid white;">
				<div>
				<div style="width:10%; float: left;">
				<img src="{{ url_for('static', filename='ginger bird mirror.png') }}"
					   style="width: 50px; height: 50px; position: relative;
						top: 5px; right: 0px; ">
				</div>
				<div style="width:90%; float:left; ">
				<h2 align = "center">{% block header %} {% endblock %}</h2>
				</div>
				</div>
				<div>
					<a href= /bot-command>Return to BOT nest</a><br>&nbsp;
				</div>
	</div>
</div>

<div align = 'center' >
		<div style="width:50%;
					height:auto;
					margin: 0 auto;
					background-color: transparent;
					border-radius:10px;
					border: 1px solid #bcdbe8;">

			{% block upload %}
			{% endblock%}

	</div>
</div>

<div align = 'center'>
			{% block links_ %}{% endblock %}

</div>

<div id="table-wrapper">
	<div id="big-table-scroll">
		<div style="width:50%;
					height:auto;
					margin: 0 auto;
					background-color: white;
					border-radius:10px;
					border: 1px solid #bcdbe8;">

			{% block form_line %}
			{% endblock%}
			{% block content %}
			{% endblock %}
			{% block supertable %}
			{% endblock %}

	</div>
</div>
</div>

<div align = 'center'>
			{% block links %}{% endblock %}

</div>
</html>