{% extends "base.html" %}

{% block title %}
	Add new note
{% endblock %}

{% block js%}
<script type="text/javascript">

    window.onbeforeunload = function() {
            }


    window.onload = function(){
        console.log('App started');
        if (sessionStorage){
            console.log('Restore from local');
            var text = document.getElementById("note_text");
            var sessionText = sessionStorage.getItem('note_text');
            if (sessionText!=null){
                text.value = sessionStorage.getItem('note_text');
            }
        }
        var tag_form = document.getElementById("tag_form");
        tag_form.addEventListener("submit", function(e){
            console.log('Try save to local');
            var text = document.getElementById("note_text");
            sessionStorage.setItem('note_text', text.value);
            console.log('Data save to local');
        });
        var note_form = document.getElementById("note_form");
            console.log('Clear session storage');
            note_form.addEventListener("submit", function(e){
            console.log('Clear session storage');
            sessionStorage.clear();
        });
    }

</script>

{% endblock %}

{% block header %}
	Please select tags and create the body for a new note
{% endblock %}

{% block supertable %}
<div>
    <div id = "letf_header"
         class="left_column" style="height:20px;">
        <b>Select tags for note</b>
    </div>
    <div id = "right_header" style="height:20px;"
         class="right_column">
        <b>Input plain text for the note</b>
    </div>
</div>
<div>
    <form method="POST" id="note_form" onsubmit="clear_storage()">
    <div class="left_column">
        <div>
            {% if tags %}
                {% for tag_ in tags %}
                    <input type="checkbox"
                           name="Tags"
                           value={{ tag_.tag_id }}
                           id = "{{tag_.tag }}">
                    <label for="{{tag_.tag }}">{{ tag_.tag }}</label><br>
                {% endfor %}
            {% endif%}
        </div>
        <div>
             <input type="submit"
                    value="Save note"
                    id="note_submit"
                    style = "width: 100%; vertical-align: bottom; bottom; border: 1px solid white;">
         </div>
    </div>

    <div class="right_column">
        <textarea cols="50" rows = "25" name = "Text" id="note_text"
                  style="border-radius: 10px 10px 10px 10px;
                  border: 1px solid white;  ">
        </textarea>
    </div>
</form>
</div>
<div>
    <hr align="center" width="95%" size="2" style= "color:white;" />
    <form method="POST" action="/note/add_tag" id="tag_form">

    <div class="left_column" style="height: 40px; text-align: center; background-color: #f0c975;">
               <input type="submit"
                value="Create new tag"
                style = "width: 40%; border: 1px solid white; ">

    </div>
    <div class="right_column" style="height: 40px; text-align: center; background-color: #f0c975;">
                <input type = "text"  name = "new_tag" style = "width: 40%;
                                                                border: 1px solid white;
                                                                background-color:white;"  >
    </div>
    </form>
</div>

</div>
<div>
</div>

{% endblock%}



               
	            
   