{% extends "base.html" %}

{% block title %}
	All notes from your notebook
{% endblock %}

{% block header %}
	All the notes I have found in your notebook
{% endblock %}
{% block supertable  %}
  {%for res in result %}
	<div class="record-note">
	<b>Note ID:</b> {{res.note_id}}<br>
		<br>
		<b>Tags:</b>
	    {% if res.tags%}
		<mark>
			{% for tag in res.tags %}
				#{{tag}}&nbsp;
			{% endfor %}
		</mark>
		{% endif %}
		<br><br>

	<b>Text:</b> {{res.text}}
	</div>
 {%endfor%}   
{% endblock%}





