{% extends "base.html" %}

{% block title %}
	Find note to delete
{% endblock %}

{% block header %}
	Please input keyword to search the note to delete:
{% endblock %}
{% block supertable %}
	<div class="record-note;">
		<form method="POST">
		<div style="text-align:center;">
			<label for="Keywords">Input keywords separated with ','</label>
			<input type="Keywords"
				   id="Keywords"
				   name="Keywords"
				   style="width:80%;
				   border-radius: 10px 10px 10px 10px;
				   border: 1px solid #bcdbe8;
				   align:center;	">
		</div>

			<div style="text-align:center;"><input type="submit" value="Seek note" style="width:50%; border: 1px solid white;"></div>

		</form>
		<div style="padding: 10px 10px 10px 10px; text-align:center;" >
					{% if tags %}
						{% for tag_ in tags%}
				   				<a href="/note/find_notes/{{tag_.tag}}/delete">
							   <mark>{{tag_.tag}}</mark> </a>&nbsp;
						{% endfor %}
					{% endif %}
		</div>
{% endblock%}