html { font-family: sans-serif; background: #eee; padding: 1rem; }
  #table-wrapper {
      position:relative;
     }
    #table-scroll {
      height:350px;
      overflow:auto;
      margin-top:20px;
    }
    #big-table-scroll {
      height:600px;
      overflow:auto;
      margin-top:20px;
    }
  .record-note { width:95%;
				background-color: #bcdbe8;
                margin: 0 auto;
                border: 2px solid white;
                border-radius: 10px 10px 10px 10px;
                padding: 10px 10px 10px 10px;
                font-family: georgia;
                font-size: 20px;}

  .right_column{
            width:58%;
            float:right;
            background-color: #bcdbe8;
            border: 2px solid white;
            border-radius: 10px 10px 10px 10px;
            padding: 10px 10px 10px 10px;
            text-align:center;}

  .left_column{
                width:35%;
                float:left;
                background-color: #bcdbe8;
                border: 2px solid white;
                border-radius: 10px 10px 10px 10px;
                padding: 10px 10px 10px 10px;
  }

body { max-width: 1920px; margin: auto; background: url('/static/background.jpg');
        -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
         background-repeat: no-repeat, repeat;
         font-family: georgia;
        }
h1 { font-family: serif; color: #377ba8; margin: 1rem 0; }
a { color: #377ba8; font-family: georgia; font-size: 20px;}
textarea {
    font-family: georgia;
    font-size: 20px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid white;
    padding: 10px 10px 10px 10px;}
p { align: center; font-size: 20px; font-family: georgia; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit], input[type=submit] { align-self: start; min-width: 10em; background-color: #90bede;
	  border: 2 px solid white;
	  border-radius:10px;
      -moz-border-radius:10px;
      -webkit-border-radius:10px;
	  color: black;
	  padding: 8px 32px;
	  text-decoration: none;
	  margin: 4px 2px;
	  cursor: pointer;
	  font-family: georgia, sans-serif;
	  font-size: 18px; }
input[type=text], input[type=email], input[type=date], input[type=password]
      { align-self: start;
      min-width: 10em;
      background-color: #dce6f2;
	  border: 1 px solid white;
	  border-radius:10px;
      -moz-border-radius:10px;
      -webkit-border-radius:10px;
	  color: black;
	  padding: 8px 32px;
	  text-decoration: none;
	  margin: 4px 2px;
	  cursor: pointer;
	  font-family: georgia, sans-serif;
	  font-size: 15px; }

.buttonsave {
    background-color: #90bede;
    transition-duration: 0.4s;
    font-size: 16px;
    color: white;
    border: 2px solid #008CBA; /* Blue */
    transition-duration: 0.4s;
}
.buttonsave:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  border: 2px solid #4CAF50; /* Blue */
}
table {
    width: 50%;
    border-spacing: 5px;
    border-collapse: collapse;
    margin: auto;
	border: 1px solid black;
	font-family: georgia, sans-serif;
	font-size: 18px;
   }

