{% extends "base.html" %}

{% block title %}
	All contacts from your address book
{% endblock %}

{% block header %}
	All the contacts from your address book. <br> Click ID to see details
{% endblock %}
{% block supertable %}
  {%for res in result %}
     <div class="record-note" style="width: 18%; float: left; text-align: left;" >
                <a href =/contact/contact_detail/{{res.contact_id}}>ID {{res.contact_id}}</a>
        </div>
        <div class="record-note" style="width: 70%; float: right; text-align: center;">
                {{res.name}}
        </div>
        <div>
            <hr align="center" width="95%" size="0" style= "color:white;" />
        </div>
  {%endfor%}
{% endblock%}


	
	
	