{% extends "base.html" %}

{% block title %}
	Found contacts that has birthday 
{% endblock %}

{% block header %}
{% if result %}
	Contacts with Birthday at the nearest {{days}} days.<br>
        Click on ID to see contact details
{% else%}
	There is a kind of problem
{% endif%}
{% endblock %}

{% block theader_ %}
    <tr>
           <th width = 20%>ID</th>
           <th width = 50%>Name</th>
           <th width = 30%>Celebrate</th>
    </tr>
{% endblock %}

{% block supertable %}
{% if result %}
		<div class="record-note" style="width: 20%; float: left; text-align: left;" >
               ID
        </div>
        <div class="record-note" style="width: 50%; float: left; text-align: center;">
               Name
        </div>
		<div class="record-note" style="width: 20%; float: left; text-align: center;">
               Birthday
        </div>
        <div>
            <hr align="center" width="95%" size="0" style= "color:white;" />
        </div>
	<form method = "POST">
		{%for res in result %}
		<div class="record-note" style="width: 20%; float: left; text-align: left;" >
                <a href =/contact/contact_detail/{{res.contact_id}}>ID {{res.contact_id}}</a>
        </div>
        <div class="record-note" style="width: 50%; float: left; text-align: center;">
                {{res.name}}
        </div>
		<div class="record-note" style="width: 20%; float: left; text-align: center;">
               {{res.celebrate}}
        </div>
        <div>
            <hr align="center" width="95%" size="0" style= "color:white;" />
        </div>
		{%endfor%}
	  </form>
{% else%}
	<div class ="record-note">
     		  <b>I'm really sorry, but this time I couldn't find any contact by your request.
				  Try to search with another keywords.</b>
	</div>
{% endif %}
{% endblock%}

{% block links%}
<a href="/contact/next_birthday">Make an other search</a></p>
{% endblock %}