{% extends "base.html" %}

{% block title %}
	Found contacts to delete
{% endblock %}

{% block header %}
	Contacts by your request: click ID to delete.
{% endblock %}

{% block theader_ %}
    <tr>
      <th width = 30%>Tick the contacts to delete</th>
      <th width = 70%>Contact name</th>
    </tr>
{% endblock %}

{% block tbody_ %}
<form method = "POST" action="/contact/delete_contacts">
  {%for res in result %}
  	<td align = "left"><input type="checkbox"
               name="Delete"
               value={{ res.contact_id }}
               id = "{{ res.contact_id }}">
               <label for="{{ res.contact_id }}" style="color:red;">Contact ID {{ res.contact_id }}</label>
    </td>
       	<td align = "left">{{res.name}}</td>
     </tr>

  {%endfor%}
    <tr>
        <td>
             <div align="center"> <input type="submit" name="Submit to delete" value="Submit to delete"></div>
        </td>
        <td>

        </td>
    </tr>
  </form>
{% endblock%}

