{% extends "base.html" %}

{% block title %}
	User details
{% endblock %}

{% block header %}
	Please be kind to get the contact details
{% endblock %}

{% block supertable %}
<style>
    .left-column {
        width: 30%;
         text-align: left;
         background-color: #f0c975;
         float: left;
         border: 1px solid white;
         border-radius: 0px 15px 15px 15px;
         padding: 5px 5px 5px 15px;
         font-family: georgia ;
            font-size: 20px;
    }
    .right-column {
        width: 80%;
            text-align: left;
            background-color:  #bcdbe8;
            float: left;
            border: 1px solid white;
            border-radius: 15px 0px 15px 15px;
            padding: 5px 5px 5px 15px;
            font-family: georgia ;
            font-size: 20px;
    }
</style>

<div class="record-note" style="padding: 5px 5px 5px 5px;">
<div align = 'center'>
<div id="table-wrapper">
<table style= "width: 90%; float: center; border: none;" >
    <tr>
    <td class="left-column">ID</td>
    <td style="float:right; width: 60%">
        <div class="right-column">&nbsp{{contact.contact_id}}</div>
    </td></tr>
    <tr>
    <td class="left-column">Name</td>
    <td style="float:right; width: 60%">
        <div class="right-column">&nbsp{{contact.name}}</div>
    </td>
    <tr>
    <td class="left-column">Birthday</td>
    <td style="float:right; width: 60%">
        <div class="right-column">&nbsp{{contact.birthday}}</div>
    </td></tr>
    <tr>
    <td class="left-column">Email</td>
    <td style="float:right; width: 60%">
        <div class="right-column">&nbsp{{email}}</div>
    </td></tr>
    <tr>
    <td class="left-column">Phones</td>
    {% for item in phone %}
        <td style="float:right; width: 60%">
            <div class="right-column">&nbsp{{item}}</div>
        </td>
    {% endfor %}
    </tr>
    <tr>
    <td class="left-column">Address</td>
    <td style="float:right; width: 60%">
        <div class="right-column">...</div>
    </td>
    </tr>
    <tr>
    <td class="left-column">ZIP</td>
    <td style="float:right; width: 60%">
        <div class="right-column">&nbsp{{address.zip}}</div>
    </td></tr>
    <tr>
    <td class="left-column">Country</td>
    <td style="float:right; width: 60%">
        <div class="right-column">&nbsp{{address.country}}</div>
    </td></tr>
        <tr>
    <td class="left-column">Region</td>
    <td style="float:right; width: 60%">
        <div class="right-column">&nbsp{{address.region}}</div>
    </td></tr>
        <tr>
    <td class="left-column">City</td>
    <td style="float:right; width: 60%">
        <div class="right-column">&nbsp{{address.city}}</div>
    </td></tr>
        <tr>
    <td class="left-column">Street</td>
    <td style="float:right; width: 60%">
        <div class="right-column">&nbsp{{address.street}}</div>
    </td></tr>
        <tr>
    <td class="left-column">House</td>
    <td style="float:right; width: 60%">
        <div class="right-column">&nbsp{{address.house}}</div>
    </td></tr>
        <tr>
    <td class="left-column">Apartment</td>
    <td style="float:right; width: 60%">
        <div class="right-column">&nbsp{{address.apartment}}</div>
    </td></tr>

</table>


<div align="center">
    <p><a href= /contact/edit_contact/{{contact.contact_id}}>Edit contact</a></p>
   <p><a href= /contact/delete_contact/{{contact.contact_id}}>Delete contact</a></p>
   <p><a href="javascript:window.history.back()">See one more contact</a></p>
</div>
</div></div></div>
{% endblock%}

