{% extends "base.html" %}

{% block title %}
	Found contacts to delete
{% endblock %}

{% block header %}
	Contacts by your request: Tick the contacts to delete.
{% endblock %}

{% block supertable %}

    {% if result %}
    <form method = "POST" action="/contact/delete_contacts">

    {%for res in result %}

    <div class="record-note" style="max-width: 30%; float: left; text-align: left;" >
  	<input type="checkbox"
               name="Delete"
               value={{ res.contact_id }}
               id = "{{ res.contact_id }}">
               <label for="{{ res.contact_id }}" style="color:red; font-size: 15px;">Contact ID {{ res.contact_id }}</label>
    </div>
    <div class="record-note" style="max-width: 50%; float: right; text-align: center;" >
    {{res.name}}
    </div>


  {%endfor%}
<div class="record-note" style="float: left; text-align: center; margin: 0 auto; width: 97%" >
        <input type="submit" name="Submit to delete" value="Submit to delete" style="width:60%;">
    </div>
  </form>
    {% else %}
    <div style="font-size: 25px; font-family: georgia, background: ">Sorry, we didn't find any contact for your request</div>
    {% endif %}


{% endblock%}

