{% extends "base.html" %}

{% block title %}
	Found contacts to delete
{% endblock %}

{% block header %}
	Contacts by your request: Tick the contacts to delete.
{% endblock %}

{% block theader_ %}
    <tr>
      <th width = 30%></th>
      <th width = 70%>Contact name</th>
    </tr>
{% endblock %}


{% block supertable %}
<div>
<form method = "POST" action="/contact/delete_contacts">
    <div class="record-note" style="float: left; text-align: center; margin: 0 auto;" >
        <input type="submit" name="Submit to delete" value="Submit to delete" style="width:60%;">
    </div>

    {%for res in result %}
    <div class="record-note" style="width: 25%; float: left; text-align: left;" >
  	<input type="checkbox"
               name="Delete"
               value={{ res.contact_id }}
               id = "{{ res.contact_id }}">
               <label for="{{ res.contact_id }}" style="color:red;">Contact ID {{ res.contact_id }}</label>
    </div>
    <div class="record-note" style="width: 65%; float: right; text-align: center;" >
    {{res.name}}
    </div>

  {%endfor%}
  </form>
</div>
{% endblock%}

