{% extends "base.html" %}

{% block title %}
	Contacts to edit
{% endblock %}

{% block header %}
	{% if result %}
        Contacts by your request: click on ID to edit contact
    {% else%}
		There is a kind of problem
	{% endif %}

{% endblock %}
{% block supertable %}
{% if result %}
<form method = "POST">
      {%for res in result %}
        <div class="record-note" style="width: 18%; float: left; text-align: left;" >
                <a href =/contact/contact_detail/{{res.contact_id}}>ID {{res.contact_id}}</a>
        </div>
        <div class="record-note" style="width: 70%; float: right; text-align: center;">
                {{res.name}}
        </div>
        <div>
            <hr align="center" width="95%" size="0" style= "color:white;" />
        </div>

      {%endfor%}
      </form>

{% else%}
<div class ="record-note">
     		  <b>I'm really sorry, but this time I couldn't find any contact by your request.
				  Try to search with another keywords.</b>
</div>
{% endif %}
{% endblock%}

