{% extends "base.html" %}

{% block title %}
	User details
{% endblock %}

{% block header %}
	Please be kind to get the contact details
{% endblock %}

{% block supertable %}
<div class="record-note" style="padding: 5px 5px 5px 5px;">
<div style= "width: 40%; float: center;">
    <div style= "width: 66%;
         text-align: left;
         background-color: #f0c975;
         float: left;
         border: 1px solid white;
         border-radius: 0px 15px 15px 15px;
         padding: 5px 5px 5px 15px;
                    " >ID</div>
    <div style= "width: 100%;">&nbsp;</div>
    <div style= "width: 100%; height: 15px;"></div>
    <div style="float:right; width: 80%">
        <div style= "width: 78%;
            text-align: left;
            background-color:  #bcdbe8;
            float: left;
            border: 1px solid white;
            border-radius: 15px 0px 15px 15px;
            padding: 5px 5px 5px 15px;
            "
                        >&nbsp{{contact.contact_id}}
        </div>
        <div style="width: 12%; float: right;
            text-align: left;">

            <img src="{{ url_for('static', filename='ginger bird.png') }}"
                 style="width: 25px; height: 25px;">
        </div>
    </div>
</div>
</div>
<div class="record-note" style="padding: 5px 5px 5px 5px;">
<table style="border: 0px solid white; width:90%; padding 5px; font-size: 20px;">

  <form method = "POST">
    <tr>
       <td style= "width: 66%;
                 text-align: left;
                 background-color: #f0c975;
                 float: left;
                 border: 1px solid white;
                 border-radius: 0px 15px 15px 15px;
                 padding: 5px 5px 5px 15px;
                            " >ID</td>
        <div style="float:right; width: 80%">
        <td style= "width: 78%;
                    text-align: left;
                    background-color:  #bcdbe8;
                    float: right;
                    border: 1px solid white;
                    border-radius: 15px 0px 15px 15px;
                    padding: 5px 5px 5px 15px;
                    ">&nbsp{{contact.contact_id}}</td>
            <div style="width: 12%; float: right;
                    text-align: left;">
            <img src="{{ url_for('static', filename='ginger bird.png') }}"
                 style="width: 25px; height: 25px;">
        </div>
        </div>

    </tr>
  </form>
</table>

    <table style="border: 0px solid white; width:90%; padding 5px; font-size: 20px;">
  <form method = "POST">
    <tr>
       <td>Name</td><td>&nbsp{{contact.name}}</td>
    </tr>
    <tr>
       <td>Birthday</td><td>&nbsp{{contact.birthday}}</td>
    </tr>
    <tr>
       <td>Email</td><td>&nbsp{{email}}</td>
    </tr>
    <tr>
       <td><b>Phones</b></td><td></td>
    </tr>
       {% for item in phone %}
         <tr>
            <td></td><td>&nbsp{{item}}</td>
         </tr>
       {% endfor %}
    <tr>
       <td><b>Address</b></td><td></td>
    </tr>
    <tr>
       <td>ZIP</td><td>&nbsp{{address.zip}}</td>
    </tr>
    <tr>
       <td>Country</td><td>&nbsp{{address.country}}</td>
    </tr>
    <tr>
       <td>Region</td><td>&nbsp{{address.region}}</td>
    </tr>
    <tr>
       <td>City</td><td>&nbsp{{address.city}}</td>
    </tr>
    <tr>
       <td>Street</td><td>&nbsp{{address.street}}</td>
    </tr>
    <tr>
       <td>House</td><td>&nbsp{{address.house}}</td>
    </tr>
    <tr>
       <td>Apartment</td><td>&nbsp{{address.apartment}}</td>
    </tr>   
  </form>
</table>
</div>
<div align="center">
    <a href= /contact/edit_contact/{{contact.contact_id}}>Edit contact</a></p>
   <a href= /contact/delete_contact/{{contact.contact_id}}>Delete contact</a></p>
   <a href="javascript:window.history.back()">See one more contact</a></p>
</div>
{% endblock%}

