{% extends "base.html" %}

{% block title %}
	Edit contact details
{% endblock %}

{% block header %}
	Please edit Contact details:
{% endblock %}

{% block js%}
<script type="text/javascript">
    var count = 0;
    function add_phone_click(){
        td_to_write = document.getElementById("phone_div");
        count = count +1;
        for (i = 0; i<count; i++)
        {
             sessionStorage.setItem("phone"+i.toString(), document.getElementById("phone"+i.toString()).value);
        }
        td_to_write.innerHTML = td_to_write.innerHTML+ '<div><input type="text" id="phone'+count.toString()+'" name="Phone" style="width: 80%; border: 1px solid white;"></div>';
        for (i = 0; i<count; i++)
        {
             document.getElementById("phone"+i.toString()).value = sessionStorage.getItem("phone"+i.toString());
             sessionStorage.removeItem("phone"+i.toString());
        }

    }
</script>

{% endblock %}


{% block supertable %}
<div class = "record-note" style="padding: 5px 5px 5px 5px;">
<form method = "POST">
<table style="border: 0px solid white; width:90%;">
     <tr>
        <td align="left">
           <div>Name</div>
        </td>
        <td align="left">
           <div><input type="text" name="Name"  value = "{{form_dict['Name']['value']}}"
                       style="width: 80%; border: 1px solid white;"></div>
           <div style="color:red;">{{form_dict['Name']['error_message']}}</div>
        </td>
     </tr>
     <tr>
        <td align="left" style="vertical-align:top;">
            <div>Phone list </div>
        </td>
        <td align="left">
            <div style="color:none; border:0px white;" id="phone_div">
            {% if form_dict['Phone']['value'] %}
                <div id="phone0"></div>
                {%  for phone in  form_dict['Phone']['value'].split(",") %}
                <div>
                    <input type="text" name="Phone"  value = "{{phone}}"
                        style="width: 80%; border: 1px solid white;">
                </div>
                {% endfor%}
            {% else%}
                <div id="phone_input">
                    <input id = "phone0" type="text" name="Phone"  value = ""
                        style="width: 80%; border: 1px solid white;">
                </div>
            {% endif %}
            </div>
            <div style="text-align:center;">
                <input type="button"
                       value="Add one more phone"
                       id="add_phone"
                       onclick="add_phone_click()"
                       style=" background-color: #bcdbe8;
                               margin: 0 auto;
                               border: 2px solid white;
                               border-radius: 10px 10px 10px 10px;
                               padding: 10px 10px 10px 10px;
                               font-family: georgia;
                               font-size: 15px; ">
            </div>
            <div style="color:red;">{{form_dict['Phone']['error_message']}}</div>
        </td>
     </tr>
     <tr>
        <td align="left">
            <div>Email</div>
        </td>
        <td align="left">
            <div><input type="email" name="Email"  value = "{{form_dict['Email']['value']}}"
                        style="width: 80%; border: 1px solid white;"></div>
            <div style="color:red;">{{form_dict['Email']['error_message']}}</div>
        </td>
      </tr>
      <tr>
        <td align="left">
            <div>Birthday</div>
        </td>
        <td align="left">
            <div><input type="date" name="Birthday"  size="20" style="border: 1px solid white;"
            {% if form_dict['Birthday']['value'] %}
                value = {{form_dict['Birthday']['value'].strftime('%Y-%m-%d')}} ></div>
            {% endif %}
            <div style="color:red;">{{form_dict['Birthday']['error_message']}}</div>
         </td>
      </tr>
      <tr>
         <td align="left">
            <div>ZIP</div>
         </td>
         <td align="left">
            <div><input type="text" name="ZIP"  size="10" value = "{{form_dict['ZIP']['value']}}"
                        style="border: 1px solid white;"></div>
            <div style="color:red;">{{form_dict['ZIP']['error_message']}}</div>
          </td>
      </tr>
      <tr>
          <td align="left">
             <div>Country</div>
          </td>
          <td align="left">
             <div><input type="text" name="Country"  value = "{{form_dict['Country']['value']}}"
                         style="width: 00%; border: 1px solid white;"></div>
              <div style="color:red;">{{form_dict['Country']['error_message']}}</p></div>
           </td>
       </tr>
       <tr>
           <td align="left">
             <div>Region</div>
           </td>
           <td align="left">
             <div><input type="text" name="Region" value = "{{form_dict['Region']['value']}}"
                         style="width: 50%; border: 1px solid white;"></div>
             <div style="color:red;">{{form_dict['Region']['error_message']}}</div>
           </td>
         </tr>
         <tr>
           <td align="left">
             <div>City</div>
           </td>
           <td align="left">
             <div><input type="text" name="City"  value = "{{form_dict['City']['value']}}"
                         style="width: 50%; border: 1px solid white;"></div>
             <div style="color:red;">{{form_dict['City']['error_message']}}</div>
           </td>
         </tr>
         <tr>
           <td align="left">
             <div>Street</div>
           </td>
           <td align="left">
             <div><input type="text" name="Street"  value = "{{form_dict['Street']['value']}}"
                         style="width: 80%; border: 1px solid white;"></div>
             <div style="color:red;">{{form_dict['Street']['error_message']}}</div>
           </td>
         </tr>
         <tr>
           <td align="left">
             <div>House</div>
           </td>
           <td align="left">
             <div><input type="text" name="House"  size="10" value = "{{form_dict['House']['value']}}"
                         style="border: 1px solid white;"></div>
             <div style="color:red;">{{form_dict['House']['error_message']}}</div>
           </td>
         </tr>
         <tr>
           <td align="left">
              <div>Apartment</div>
           </td>
           <td align="left" valign = "top">
              <div><input type="text" name="Apartment"  size="10" value = "{{form_dict['Apartment']['value']}}"
                          style="border: 1px solid white;"></div>
              <div style="color:red;">{{form_dict['Apartment']['error_message']}}</div>
            </td>
         </tr>

</table>
   <div style="text-align:center;"><input type="submit" value="Save contact" style="border: 1px solid white;">
   </div>
  </form>
</div>
{% endblock%}



