{% extends "base.html" %}

{% block title %}
	Upload file to server
{% endblock %}

{% block header %}
	Please choose the file you would like to upload.
{% endblock %}

{% block supertable %}
<script type="text/javascript">
    function FormLoad()
    {
        var submitButton = document.getElementById("submit_button");
        submitButton.disabled = true;
    }

    function OnFileValidation() {
        var fileUpload = document.getElementById("fileUpload");
        var submitButton = document.getElementById("submit_button");
        var used_file = {{ used_file |safe }}
        var max_size = {{ max_size |safe }}
        var total_file = {{ total_file |safe }}

        if (typeof (fileUpload.files) != "undefined") {
            var size = parseFloat(fileUpload.files[0].size / 1024).toFixed(2);
            if (size > (max_size*1024))
                {
                alert(size + " KB. It's too big to upload");
                submitButton.disabled = true;
                }

            else if (used_file>=total_file)
                {
                alert("Limit for uploaded files exceeded");
                submitButton.disabled = true;
                }

            else
                {
                submitButton.disabled = false;
                }
        }

        else {
                alert("This browser does not support HTML5.");
               }
    }
</script>
    <tr style =" border: none; background-color: transparent">
        <form method="POST" enctype="multipart/form-data" style="max-high: 50%">
            <td style =" border: none; background-color: transparent; ">
               <input type="file" id="fileUpload" name="file" multiple onchange="OnFileValidation()"
                      style="font-family: georgia; font-size: 17px;">
            </td>
            <td style =" border: none; background-color: transparent">
                <input type="submit" value="Upload" id="submit_button">
            </td>
        </form>
    </tr>

{% endblock%}

{% block links %}
<table style =" border: none; background-color: transparent">

    <tr style =" border: none; background-color: transparent">
        <td tyle =" border: none; background-color: transparent">
        <h3>There are some limits for repository size for each user:</h3>
            <p>&nbsp;&nbsp; &nbsp; -&nbsp; Max file size  - {{max_size}}Mb </p>
            <p> &nbsp; &nbsp; -&nbsp; Total number  - {{total_file}} files </p>
            <p><b>Now you are used {{used_file}}/{{total_file}}</b></p>
        </td>
    </tr>

</table>
<body onload="FormLoad()">
</body>
{% endblock %}

	            
   