{% extends "base.html" %}

{% block title %}
	File repository
{% endblock %}

{% block header %}
	{% if files %}
        The list of files in your repository: click on ID to download
    {% else%}
		There is a kind of problem
	{% endif %}

{% endblock %}
{% block form_line %}


{% endblock %}

{% block content %}
<style>
    table {
    width: 90%;
    border-spacing: 5px;
    border-collapse: collapse;
    margin: auto;
	border: none;
	font-family: georgia, sans-serif;
	font-size: 18px;
   }
   td, th {
        font-size: 15px;
   }

</style>
<div class="record-note" style="padding: 5px 5px 5px 5px;">
<div align = 'center'>
<div id="table-wrapper">
<table>
    <tr>
      <th style="min-width: 10%; " >
          <form name = 'select_type'
                method = 'POST'
                action='/file/download'>

              <select name="file_type" id = "file_type"  size="1" style= "width:120px; font-size: 18px; border-radius: 5px 5px 5px 5px; ">
                    <option value ='All types'>All types</option>
                  {% if types%}
                    {% for type in types %}
                         <option value ={{type | safe }}>{{type |safe }}</option>
                    {% endfor %}
                  {% endif %}
              </select>
              <p></p>
              <input type = submit value="Filter files" id = 'filter_files' style="font-size: 15px; align: center; width: 60px;">
          </form>
      </th>

      <th style="max-width: 30%" >Name</th>
      <th style="max-width: 15%">Size</th>
      <th style="max-width: 10%"> </th>
      <th style="max-width: 10%"> </th>
    </tr>

{% if files %}

      {%for file in files %}
        <tr>
            <td><div style="text-align: left;
                     background-color: #f0c975;
                     float: left;
                     border: 1px solid white;
                     border-radius: 0px 15px 15px 15px;
                     padding: 5px 5px 5px 15px;
                     font-family: georgia ;
                     font-size: 15px; width: 80%;">
                {{file.file_type}}
            </div>
            </td>

            <td><div style="width: 90%;
                            background-color:  #bcdbe8;
                            float: left;
                            border: 1px solid white;
                            border-radius: 15px 0px 15px 15px;
                            padding: 5px 5px 5px 15px;
                            font-family: georgia ;
                            font-size: 15px;">
                {{file.name}}
            </div>
            </td>
             <td><div style="min-width: 60%;

            background-color:  #bcdbe8;
            float: left;
            border: 1px solid white;
            border-radius: 15px 0px 15px 15px;
            padding: 5px 5px 5px 15px;
            font-family: georgia ;
            font-size: 15px;">
                {{file.file_length}} Mb
             </div>
            </td>
            <td>
                <form name="download"
                      method="POST"
                      action='/file/download_file/{{file.file_id}}'
                      style =" border: none; background-color: transparent;">
                      <button name="download" width = 200 style ="background-color: #00ba37;
                        border-radius: 10px 0px 10px 10px; font-size: 15px;">Download</button>
                </form>
            </td>
            <td>
                 <form name="delete"
                      method="POST"
                      action='/file/delete/{{file.file_id}}'
                      style =" border: none; background-color: transparent;">
                      <button name="delete" width = 200 style ="background-color: #ff2252; width: 100%;
                        border-radius: 10px 0px 10px 10px; font-size: 15px;">Delete</button>
                </form>
            </td>
        </tr>
      {%endfor%}
      </form>
{% else%}
     <tr>
		 <td>
         </td>
		  <td>
			  <b>I'm really sorry, but this time I couldn't find any files by your request.
				  Try to search with another keywords.</b>
		  </td>

		</tr>
{% endif %}
</table>
</div></div></div>
{% endblock%}


